In [1]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2013-01-01  0.007150  0.675568 -2.032175 -0.252394
2013-01-02 -0.751489  0.872820 -1.806116 -0.263024
2013-01-03  0.317213  0.308223 -2.524472  0.173811
2013-01-04  1.315060 -0.950083 -1.784558  0.142510
2013-01-05 -1.054987  0.582504 -1.051030  0.818215
2013-01-06 -0.505180 -0.503410  0.195046  0.263469

In [3]:
df.iloc[2,2] = 1111
df.loc['2013-01-03', 'D'] = 2222
df.A[df.A>0] = 0
df['F'] = np.nan
df['G']  = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130101', periods=6))
print(df)

                   A         B            C            D   F  G
2013-01-01  0.000000  0.675568    -2.032175    -0.252394 NaN  1
2013-01-02 -0.751489  0.872820    -1.806116    -0.263024 NaN  2
2013-01-03  0.000000  0.308223  1111.000000  2222.000000 NaN  3
2013-01-04  0.000000 -0.950083    -1.784558     0.142510 NaN  4
2013-01-05 -1.054987  0.582504    -1.051030     0.818215 NaN  5
2013-01-06 -0.505180 -0.503410     0.195046     0.263469 NaN  6

In [8]:
df.loc[:,'A']

2013-01-01    0.000000
2013-01-02   -0.751489
2013-01-03    0.000000
2013-01-04    0.000000
2013-01-05   -1.054987
2013-01-06   -0.505180
Freq: D, Name: A, dtype: float64